@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
//COLOR MODS
$bg-red: #c66;
$bg-green: #9c9;
$bg-blue: #699;

//BREAKPOINTS
$large: 1300px;
$tablet: 980px;
$mobile: 580px;

@media screen and (max-width: $large) {
    body{
      background-color: $bg-red;
    }
  }
@media screen and (max-width: $tablet) {
  body{
    background-color: $bg-blue;     
  }
}
@media screen and (max-width: $mobile){
    body{
    background-color: $bg-green;
    // margin: auto;
    max-width: 75vw;  // gem den her!
    color: white;
    border-radius: 10px;
}
.nav{
    overflow: hidden;
    position: relative;

    .icon{
        color: white;
        font-size: 4vw;
        padding-left: .5vw;
        &:hover{
            color:#31536b;
        }
    }
    
    #myLinks{
        // display: none;
        li{
            list-style: none;
            a{
                color: white;
                text-decoration: none;
                padding: 14px 16px;
                font-size: 3.5vw;
                display: block;
                &:hover{
                    color:#31536b;
                }
            }
            &:nth-child(3){
                a{
                    font-family: 'Lobster', cursive;
                    font-size: 3.7vw;
                }
            }
        }
    }

}
}
